@baseColor:     #70c21f;
@grayddd:       #ddd;

/* 白色 */
@baseFontColor:   #dbcdc8;
@whiteColor:      #fff;
@grayColor:       #eee;
@backgroundColor: #f1f1f1;

/* 黄色 */
@yellowColor: #f9de0e;

/*红色*/
@redColor:        #ce4b41;
@redDeep:         #ef4f4f;

@size12:          0.36rem;
@size16:          0.45rem;
@size20:          0.8rem;

html, body, table, th, td, ul, li, strong, span ,h2,p{
  font-size: @size12;
  box-sizing: border-box;
  color: #333;
}
html, body {
  background-color: @backgroundColor;
}

a {
  color: @baseFontColor;
  text-decoration: none;
}
a:active, a:link, a:visited {
  text-decoration: none;
}
